@use '../../scss/variables.scss' as var;
#button{
    border: none;
    padding: 8px 20px;
    color: white;
    background-color: var.$ultramarineViolet;
    border-radius: 230px;
    text-transform: uppercase;
}