// Main colors
$ultramarineViolet: #1A2456;
$salmonOrange: #EFC2B2;
$pastelWhiteGloveColor: #f0efed;
$black :#080b1b;
$darkSalmonOrange: #E18F74;

// Mobile
$tablet: '768px';
$mobileLarge: '425px';
$mobileMeduim: '375px';
$mobileSmall: '320px';
